In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import chain, combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
952,tt0220506,13000000,37664855,Halloween: Resurrection,Jamie Lee Curtis|Brad Loree|Busta Rhymes|Bianc...,Rick Rosenthal,Evil finds its way home,Serial Killer Michael Myers is not finished wi...,94,Horror|Thriller,Dimension Films,7/1/2002,4.6,2002
396,tt1424381,40000000,126248813,Predators,Topher Grace|Alice Braga|Laurence Fishburne|Ad...,NimrÃ³d Antal,Fear is Reborn,A mercenary named Royce reluctantly leads a mo...,107,Action|Science Fiction|Adventure|Thriller,Twentieth Century Fox Film Corporation|Davis E...,7/3/2010,5.8,2010
1409,tt0387131,25000000,82466670,The Constant Gardener,Ralph Fiennes|Rachel Weisz|Danny Huston|Bill N...,Fernando Meirelles,Love. At any cost.,Justin Quayle is a low-level British diplomat ...,129,Drama|Mystery|Thriller,Studio Babelsberg|Epsilon Motion Pictures|UK F...,8/31/2005,6.7,2005
1187,tt0770828,225000000,662845518,Man of Steel,Henry Cavill|Amy Adams|Michael Shannon|Diane L...,Zack Snyder,You will believe that a man can fly.,A young boy learns that he has extraordinary p...,143,Action|Adventure|Fantasy|Science Fiction,Legendary Pictures|Warner Bros.|DC Entertainme...,6/12/2013,6.5,2013
60,tt3076658,35000000,137935567,Creed,Michael B. Jordan|Sylvester Stallone|Graham Mc...,Ryan Coogler,Your legacy is more than a name,The former World Heavyweight Champion Rocky Ba...,133,Drama,New Line Cinema|Warner Bros.|Metro-Goldwyn-May...,11/25/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers

{}

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#добавим новый столбец 'profit':
data['profit'] = data['revenue'] - data['budget']


#добавим новый столбец 'director_split', разделяем режиссеров в список:
data['director_split'] = data['director'].str.split('|')


#добавим новый столбец 'cast_split', разделяем актеров в список:
data['cast_split'] = data['cast'].str.split('|')


#добавим новый столбец 'prod_comp_split', разделяем студии в список:
data['prod_comp_split'] = data['production_companies'].str.split('|')


# Функция, которая находит 1 элемент (месяц) списка, переданного ей:
def month_found(month_list):
    return month_list[0]
    

#добавляем новый столбец 'month', добавляем месяцы релизов:
data['month'] = data['release_date'].str.split('/').apply(month_found)


# Функция, которая считает и возвращавет длинну названия фильма в количестве символов:
def title_length(row_title):
    return len(row_title)


# Функция, которая считает и возвращавет длинну описания фильма в количестве слов:
def overview_length(row_overview):
    return len(row_overview.split(" "))


# Функция, которая группирует актеров в пары и возвращает список пар:
def act_pairs(actors):
    for name in range(1,len(actors)+1):
       return list(combinations(actors,2))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [12]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '110'

In [14]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '107'

In [16]:
data.describe()['runtime']['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = 'Avatar (tt0499549)'

In [18]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [20]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'

In [22]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [24]:
data[data['revenue'] == data[data['release_year'] == 2008].revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [26]:
data.query('2012 <= release_year <= 2014').sort_values('profit').head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [29]:
answers['11'] = 'Drama'

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre_max = Counter()
for genre in data.genres.str.split('|'):
    genre_max += Counter(genre)
genre_max.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [30]:
genre_max2 = pd.Series((data.genres.str.split('|').sum())).value_counts().index[0]
genre_max2

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'

In [31]:
data_profit = data[data['profit'] > 0]
profit_genres = pd.Series((data_profit.genres.str.split('|').sum())).value_counts()
profit_genres.index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = 'Peter Jackson'

In [33]:
cut_dirs_data = data.explode('director_split')
revenue_for_dir = cut_dirs_data.groupby(['director_split']).revenue.sum()
revenue_for_dir.sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez'

In [35]:
cut_dirs_data_new = cut_dirs_data[cut_dirs_data.genres.str.contains('Action', na=False)]
cut_dirs_data_new.director_split.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'

In [37]:
cut_cast_data = data.explode('cast_split')
cast_revenue = cut_cast_data[cut_cast_data['release_year'] == 2012].groupby(['cast_split']).revenue.sum()
cast_revenue.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'

In [39]:
big_budget_data = cut_cast_data[cut_cast_data['budget'] > cut_cast_data['budget'].mean()]
big_budget_data['cast_split'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'

In [41]:
cut_cast_data_Cage = cut_cast_data[cut_cast_data.cast_split.str.contains('Nicolas Cage', na=False)]
pd.Series((cut_cast_data_Cage.genres.str.split('|').sum())).value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker'

In [43]:
prod_comp_data = data.explode('prod_comp_split')
prod_comp_data_pp = prod_comp_data[prod_comp_data.prod_comp_split.str.contains('Paramount Pictures', na=False)]
prod_comp_data_pp[prod_comp_data_pp['profit'] == prod_comp_data_pp['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '2015'

In [45]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '2014'

In [47]:
prod_comp_data_wb = prod_comp_data[prod_comp_data.prod_comp_split.str.contains('Warner Bros', na=False)]
prod_comp_data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'Сентябрь'

In [49]:
data.groupby('month')['original_title'].count().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
answers['22'] = '450'

In [51]:
total_film_amount = data.groupby('month')['original_title'].count()
summer_film_amount = total_film_amount['6'] + total_film_amount['7'] + total_film_amount['8']
summer_film_amount

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = 'Peter Jackson'

In [54]:
data_dir_temp = data.explode('director_split')
data_dir_temp.head()
pivot = data_dir_temp.loc[data_dir_temp['month'].isin(['12','1','2'])].pivot_table(values='original_title',
index='director_split', 
columns='month', 
aggfunc='count', 
fill_value=0, 
margins=True )
pivot['All'].sort_values(ascending=False).index[1]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [61]:
answers['24'] = 'Four By Two Productions'

In [60]:
prod_comp_data['title_length'] = prod_comp_data['original_title'].apply(title_length)
prod_comp_data.groupby(['prod_comp_split'])['title_length'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
answers['25'] = 'Midnight Picture Show'

In [62]:
prod_comp_data['overview_length'] = prod_comp_data['overview'].apply(overview_length)
prod_comp_data.groupby(['prod_comp_split'])['overview_length'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [66]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [65]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [78]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [77]:
data['cast_list'] = data['cast_split'].apply(act_pairs)
data_pairs = data.explode('cast_list')
#data_pairs['cast_list'].value_counts().index[0]
data_pairs['cast_list'].value_counts()

(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Johnny Depp, Helena Bonham Carter)         6
(Ben Stiller, Owen Wilson)                  6
                                           ..
(Joseph Gordon-Levitt, Carla Gugino)        1
(Gwyneth Paltrow, Mickey Rourke)            1
(Dennis Quaid, Antje Traue)                 1
(Hugh Laurie, Paul Rudd)                    1
(Arnold Schwarzenegger, Joe Manganiello)    1
Name: cast_list, Length: 18121, dtype: int64

# Submission

In [79]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '22': '450',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [81]:
# и убедиться что ни чего не пропустил)
len(answers)

27